extends layouts/main

block content
  div.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem minima quidem, ullam ipsam nesciunt aliquam repellat, earum ex, deleniti modi cumque. Nobis aliquid eum nihil autem, fugit quas placeat perferendis.